/* Custom styles for Falah Innovations */
body {
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background: linear-gradient(135deg, #3b7977, #3ba776);
  }
  
  section {
    padding: 4rem 0;
  }
  
  section#about {
    background-color: #f9f9f9;
  }
  
  section#services, section#contact {
    background-color: #f1f1f1;
  }
  
  section#portfolio {
    background-color: #ffffff;
  }
  
  section h2 {
    color: #3ba776;
  }
  
  button {
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2a645a;
  }
  